<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<link rel="stylesheet" href="style.css">

	</head>
	<body>
		<div id="app">
			<div v-if="books.length">
				<table>
					<thead>
						<tr>
							<td></td>
							<td>书籍名称</td>
							<td>出版日期</td>
							<td>价格</td>
							<td>购买数量</td>
							<td>操作</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(item, index) in books">
							<td>{{item.id}}</td>
							<td>{{item.name}}</td>
							<td>{{item.date}}</td>
							<td>{{item.price | showPrice}}</td>
							<td>
								<button @click="decrement(index)" :disabled="item.count <= 1">-</button>
								{{item.count}}
								<button @click="increment(index)">+</button>
							</td>
							<td><button @click="removeHandle(index)">移除</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<h3>总价格：{{totalPrice | showPrice}}</h3>
			<div v-else><h2>购物车为空</h2></div>
		</div>
		<script src="../05-js/vue.js"></script>
		<script src="main.js"></script>
	</body>
</html>