<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<script src="../js/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<ul>
				<!--这个是没有通过下标的方式来遍历-->
				<li v-for="item in names">{{item}}</li>
			</ul>
			<ul>
				<!--这个是通过数组下标的方式来进行遍历的-->
				<li v-for="(item, index) in names">{{index+1}}.{{item}}</li>
			</ul>
		</div>
		<script>
			const app = new Vue({
				el: '#app',
				data: {
				  names: ['kobe','james','curry'],
				}
			})
		</script>
	</body>
</html>